<div class="content_products">
    <div class="products">
        <h1>Pulpas</h1>
        <div class="items_products">
            <div class="item">
                <p>IMAGEN</p>
                <p>Fresa</p>
                <p>29.000</p>
            </div>
            <div class="item">
                <p>IMAGEN</p>
                <p>Guanabana</p>
                <p>Precio</p>
            </div>
            <div class="item">
                <p>IMAGEN</p>
                <p>Guayaba</p>
                <p>Precio</p>
            </div>
            <div class="item">
                <p>IMAGEN</p>
                <p>Lulo</p>
                <p>Precio</p>
            </div>
            <div class="item">
                <p>IMAGEN</p>
                <p>Mango</p>
                <p>Precio</p>
            </div>
            <div class="item">
                <p>IMAGEN</p>
                <p>Maracuyá</p>
                <p>Precio</p>
            </div>
            <div class="item">
                <p>IMAGEN</p>
                <p>Mora</p>
                <p>Precio</p>
            </div>
        </div>
    </div>
    <div class="products">
        <h1>Salsas</h1>
        <div class="items_products">
            <div class="item">
                <p>IMAGEN</p>
                <p>Fresa</p>
                <p>29.000</p>
            </div>
            <div class="item">
                <p>IMAGEN</p>
                <p>Guanabana</p>
                <p>Precio</p>
            </div>
            <div class="item">
                <p>IMAGEN</p>
                <p>Guayaba</p>
                <p>Precio</p>
            </div>
            <div class="item">
                <p>IMAGEN</p>
                <p>Lulo</p>
                <p>Precio</p>
            </div>
            <div class="item">
                <p>IMAGEN</p>
                <p>Mango</p>
                <p>Precio</p>
            </div>
            <div class="item">
                <p>IMAGEN</p>
                <p>Maracuyá</p>
                <p>Precio</p>
            </div>
            <div class="item">
                <p>IMAGEN</p>
                <p>Mora</p>
                <p>Precio</p>
            </div>
        </div>
    </div>
</div>