footer {
    padding: 30px 20%;
    display: flex;
    justify-content: space-around;
    background-color: var(--mat-dark-color);
    color: var(--mat-white-color);
    .items_footer {
        .title {
            font-size: 18px;
            font-family: "Montserrat-semi-bold";
        }
        .content_footer {
            font-family: "Montserrat-light";
            p {
                font-family: "Montserrat-regular";
                a {
                    font-family: "Montserrat-Bold";
                    text-decoration: none;
                    color: var(--mat-white-color);
                }
            }
        }
    }
}