<footer>
    <div class="items_footer">
        <p class="title">Nuestras redes sociales</p>
        <div class="content_footer">
            <p>Facebook: <a href="https://www.facebook.com/Elafrutsas/">Elafrutsas</a></p>
            <p>Instagram: <a href="https://www.instagram.com/elafrut_sas/">@elafrut_sas</a></p>
        </div>
    </div>
    <div class="items_footer">
        <p class="title">Contacto</p>
        <div class="content_footer">
            <p>WhatsApp: <a href="https://api.whatsapp.com/send?phone=573052003802&text=Hola%20Elafrut%2C%20quiero%20tener%20m%C3%A1s%20informaci%C3%B3n.">+57 3052003802</a></p>
            <p>Email: <a href="mailto:soporte@elafrut.com">soporte@elafrut.com</a></p>
            <p>Dirección: <a href="https://www.google.com/maps/place/Cra.+55+%2317a-39,+Bogot%C3%A1/@4.6331697,-74.1070154,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3f9be40575f0a7:0x1a0825654724aafc!8m2!3d4.6331697!4d-74.1070154?entry=ttu">CR 55 N. 17A - 39 Puente Aranda</a></p>
        </div>
    </div>
</footer>
<div class="copyright">
    <p>© Copyright - Todos los derechos reservados a {{ dominio }}</p>
</div>