<footer>
    <div class="items_footer">
        <p class="title">Nuestras redes sociales</p>
        <div class="content_footer">
            <p>Facebook: Elafrut</p>
            <p>Instagram: @elafrut_sas</p>
        </div>
    </div>
    <div class="items_footer">
        <p class="title">Contacto</p>
        <div class="content_footer">
            <p>WhatsApp: +57 3052003802</p>
            <p>Email: soporte@elafrut.com</p>
            <p>Dirección: Carrera</p>
        </div>
    </div>
</footer>