.navbar {
    background-color: var(--mat-background-app);
    color: var(--mat-black-color);
    padding: 20px 16px;
    .img_logo {
        width: 59px;
    }
    .title_app {
        margin-left: 10px;
        text-transform: uppercase;
    }
    .spacer {
        flex: 1 1 auto;
    }
    .routes {
        font-family: "Montserrat-light";
        display: flex;
        gap: 20px;
        cursor: pointer;
    }
}