.navbar {
    background-color: var(--mat-background-app);
    color: var(--mat-black-color);
    padding: 20px 10%;
    .img_logo {
        width: 59px;
        cursor: pointer;
    }
    .title_app {
        margin-left: 10px;
        text-transform: uppercase;
    }
    .spacer {
        flex: 1 1 auto;
    }
    .actions_routes_ocult {
        display: none;
    }
    .actions_routes_ocult {
        .icon_menu {
            font-size: 35px;
            width: 35px;
            height: 35px;
            line-height: 1;
        }
    }
    .routes {
        font-family: "Montserrat-light";
        display: flex;
        gap: 20px;
        cursor: pointer;
    }
}