<div class="content_home">
    <!-- <div class="information">
        <div class="more_information_content">
            <h1 class="title">Quiénes somos</h1>
            <p class="description">Elafrut Es una compañía Colombiana que atiende el mercado
                latino a través de nuestra marca, enfocada en los productos
                frutales y del campo cosechados en fincas que se esmeran
                por el cuidado del ambiente y se enfocan en cosechar
                siempre conservando suelos ricos y fértiles, esto nos permite
                desarrollar productos de primera, los mejores nutrientes.</p>
        </div>
        <div class="image_01"></div>
    </div> -->
    <!-- <div class="information">
        <div class="image_02"></div>
        <div class="more_information_content">
            <h1 class="title">Nuestra visión</h1>
            <p class="description">Buscamos Cosechar, procesar, y comercializar pulpa de fruta, con los más
                altos estándares de conservación y calidad, a través de la innovación, la
                mejora continua y la generación de valor para nuestros campesinos.</p>

            <h1 class="sub_title">VALORES</h1>
            <ul class="list_valores">
                <li>Calidad</li>
                <li>Compromiso ambiental</li>
                <li>Responsabilidad social</li>
                <li>Honestidad</li>
            </ul>
        </div>
    </div> -->
    <div class="information">
        <div class="more_information_content">
            <h1 class="title">Nuestro producto</h1>
            <h2 class="sub_title">Pulpas</h2>
            <p class="description">En Elafrut producimos la mejor variedad de pulpa totalmente natural de
                frutas tropicales : maracuyá, mango, guayaba, piña, fresa, mora, guanábana,
                lulo. Somos totalmente diferentes a nuestros competidores. Con
                plantaciones en Colombia seleccionando solo la mejor fruta. Siempre nos
                ocupamos de su trazabilidad, desde la cosecha de la fruta hasta su
                comercialización y distribución a través del canales de frio.
            </p>
            <p class="description">Si eres una empresa o un profesional y estás dispuesto a impulsar tu
                negocio con un producto de alta calidad, prueba nuestras pulpas de frutas
                tropicales congeladas. Son perfectos para la elaboración de zumos
                naturales, batidos, yogures, helados y otros productos derivados gracias al
                auténtico sabor de la fruta fresca.</p>
        </div>
        <div class="img_nuestro_producto"></div>
    </div>
    <div class="information">
        <div class="more_information_content">
            <h1 class="title">Pulpa</h1>
            <p class="description">La pulpa de fruta Elafrut consiste en un producto 100% natural
                obtenido de las partes comestibles de frutas frescas maduras que se
                seleccionan cuidadosamente para su uso en el procesamiento de la
                extracción de pulpa de fruta pura y posteriormente se congelan.
                El proceso de elaboración y congelación de la pulpa pura de fruta
                permite la comercialización y consumo en cualquier época del año y
                además aporta practicidad a tu vida.
            </p>
            <p class="description">La pulpa de fruta Elafrut se conserva todas las características
                químicas, nutricionales y orgánicas de las frutas frescas y también
                prolonga el período de consumo (dentro de un año desde la fecha de
                producción).
            </p>
        </div>
        <div class="img_nuestro_producto"></div>
    </div>
    <div class="information_pulpas">
        <div class="more_information_content">
            <h1 class="title">Pulpas de fruta</h1>
            <div class="information_pulpas_content">
                <div class="item_1">
                    <h1 class="sub_title">Variedad frutal</h1>
                    <ul class="list_dinamic">
                        <li>Fresa</li>
                        <li>Mora</li>
                        <li>Mango</li>
                        <li>Guanábana</li>
                        <li>Guayaba</li>
                        <li>Lulo</li>
                    </ul>
                    <h1 class="sub_title">Presentación</h1>
                    <ul class="list_dinamic">
                        <li>100 gr.</li>
                        <li>250 gr.</li>
                        <li>500 gr.</li>
                        <li>5 Lt.</li>
                        <li>5 Gl/18,9 Lt.</li>
                        <li>Fruta cortada y envasada</li>
                    </ul>
                </div>
                <div class="item_2">
                    
                    <img src="../../../assets/images/informacion_nutricional.png" alt="">



                </div>
            </div>
        </div>
    </div>
</div>

