<div class="content_home">
    <div class="information">
        <div class="more_information_content">
            <h1 class="title">Nuestro producto</h1>
            <h2 class="sub_title">Pulpas</h2>
            <p class="description">En Elafrut producimos la mejor variedad de pulpa y de salsas a 
                base de fruta totalmente natural, son el complemento perfecto 
                para cada preparación.
                Todos nuestros productos son de calidad profesional y se 
                presentan en cantidades ideales para todos los sectores.
                Nuestros productos cuentan con registro Invima y permiso 
                sanitario.
            </p>
        </div>
        <div class="img_nuestro_producto"></div>
    </div>
    <div class="information">
        <div class="more_information_content">
            <h1 class="title">Pulpa</h1>
            <p class="description">La pulpa de fruta Elafrut consiste en un producto 100% natural
                obtenido de las partes comestibles de frutas frescas maduras que se
                seleccionan cuidadosamente para su uso en el procesamiento de la
                extracción de pulpa de fruta pura y posteriormente se congelan.
                El proceso de elaboración y congelación de la pulpa pura de fruta
                permite la comercialización y consumo en cualquier época del año y
                además aporta practicidad a tu vida.
            </p>
            <p class="description">La pulpa de fruta Elafrut se conserva todas las características
                químicas, nutricionales y orgánicas de las frutas frescas y también
                prolonga el período de consumo (dentro de un año desde la fecha de
                producción).
            </p>
        </div>
        <div class="img_pulpa"></div>
    </div>
    <div class="information_pulpas">
        <div class="more_information_content">
            <h1 class="title">Pulpas de fruta</h1>
            <div class="information_pulpas_content">
                <div class="item_1">
                    <h1 class="sub_title">Variedad frutal</h1>
                    <ul class="list_dinamic">
                        <li>Fresa</li>
                        <li>Mora</li>
                        <li>Mango</li>
                        <li>Guanábana</li>
                        <li>Guayaba</li>
                        <li>Lulo</li>
                    </ul>
                    <h1 class="sub_title">Presentación</h1>
                    <ul class="list_dinamic">
                        <li>100 gr.</li>
                        <li>250 gr.</li>
                        <li>500 gr.</li>
                        <li>5 Lt.</li>
                        <li>5 Gl/18,9 Lt.</li>
                        <li>Fruta cortada y envasada</li>
                    </ul>
                </div>
                <div class="item_2">
                    
                    <img src="../../../assets/images/informacion_nutricional.png" alt="">



                </div>
            </div>
        </div>
    </div>
    <div class="information">
        <div class="more_information_content">
            <h1 class="title">Salsas de fruta</h1>
            <p class="description">Salsas de fruta lista para consumir, conservadas conservada en a temperaturas
                de refrigeración, en diferentes empaques y tamaños.</p>
            <div class="lists_flex">
                <div class="content_list">
                    <h5 class="title">Sabores</h5>
                    <ul class="list_dinamic">
                        <li>Frutos rojos</li>
                        <li>Frutos del Huerto</li>
                        <li>Frutos Tropicales</li>
                        <li>Frutos Cítricos</li>
                    </ul>
                </div>
                <div class="content_list">
                    <h5 class="title">Presentación</h5>
                    <ul class="list_dinamic">
                        <li>Frutos rojos</li>
                        <li>Frutos del Huerto</li>
                        <li>Frutos Tropicales</li>
                        <li>Frutos Cítricos</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="img_pulpa"></div>
    </div>

</div>

