<div class="content_company">
    <div class="information">
        <div class="more_information_content">
            <h1 class="title">Quiénes somos</h1>
            <p class="description">Elafrut Es una compañía Colombiana que atiende el mercado
                latino a través de nuestra marca, enfocada en los productos
                frutales y del campo cosechados en fincas que se esmeran
                por el cuidado del ambiente y se enfocan en cosechar
                siempre conservando suelos ricos y fértiles, esto nos permite
                desarrollar productos de primera, los mejores nutrientes.</p>
        </div>
        <div class="image_01"></div>
    </div>
    <div class="information">
        <div class="image_02"></div>
        <div class="more_information_content">
            <h1 class="title">Nuestra visión</h1>
            <p class="description">Buscamos Cosechar, procesar, y comercializar pulpa de fruta, con los más
                altos estándares de conservación y calidad, a través de la innovación, la
                mejora continua y la generación de valor para nuestros campesinos.</p>

            <h1 class="sub_title">VALORES</h1>
            <ul class="list_dinamic">
                <li>Calidad</li>
                <li>Compromiso ambiental</li>
                <li>Responsabilidad social</li>
                <li>Honestidad</li>
            </ul>
        </div>
        <div class="image_01"></div>
    </div>
</div>