@font-face {
    font-family: "Montserrat-Bold";
    src: url(./assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "Montserrat-light";
    src: url(./assets/fonts/Montserrat/static/Montserrat-ExtraLight.ttf);
}