/* You can add global styles to this file, and also import other style files */

// Fuentes
@import url("./fonts.scss");

:root {
    --mat-background-app: #fdfbff;
    --mat-dark-color: #1b1d1f;
    --mat-black-color: #000000;
    --mat-white-color: #FFFFFF;
    --mat-green-color: #1CAF96;
}

html, body { height: 100%; }
body { 
    background-color: var(--mat-background-app);
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", sans-serif; 
}


// Listas
.list_dinamic {
    list-style: none;
    li {
        text-indent: -0.75em;
        font-family: "Montserrat-regular";
        color: #949494;
        &::before {
            display: inline-block;
            border-radius: 8px;
            content: '';
            background-color: var(--mat-green-color);
            width: 20px;
            height: 10px;
            margin-right: 0.5rem;
        }
    }
}