/* You can add global styles to this file, and also import other style files */

// Fuentes
@import url("./fonts.scss");

:root {
    --mat-background-app: #fdfbff;
    --mat-dark-color: #1b1d1f;
    --mat-black-color: #000000;
    --mat-white-color: #FFFFFF;
}

html, body { height: 100%; }
body { 
    background-color: var(--mat-background-app);
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", sans-serif; 
}