/* You can add global styles to this file, and also import other style files */

// Fuentes
@import url("./fonts.scss");

:root {
    --mat-background-app: #fdfbff;
    --mat-dark-color: #1b1d1f;
    --mat-black-color: #000000;
    --mat-white-color: #FFFFFF;
    --mat-green-color: #1CAF96;
}

html, body { height: 100%; }
body { 
    background-color: var(--mat-background-app);
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", sans-serif; 
}


// Listas
.list_dinamic {
    list-style: none;
    li {
        text-indent: -0.75em;
        font-family: "Montserrat-regular";
        color: #949494;
        &::before {
            display: inline-block;
            border-radius: 8px;
            content: '';
            background-color: var(--mat-green-color);
            width: 20px;
            height: 10px;
            margin-right: 0.5rem;
        }
    }
}



// MediaQueries
// Desktop
@media screen and (min-width: 1024px) {
    
}

// Tablets
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}

// Mobile
@media screen and (max-width: 767px) {

    .navbar {
        .routes {
            flex-direction: column;
            position: absolute;
            width: -webkit-fill-available;
            top: 57px;
            left: 0;
            padding: 35px;
            background: var(--mat-background-app);

            -webkit-box-shadow: 0px 8px 16px 0px rgba(150,150,150,1);
            -moz-box-shadow: 0px 8px 16px 0px rgba(150,150,150,1);
            box-shadow: 0px 8px 16px 0px rgba(150,150,150,1);
        }
    }

    .content_home {
        padding: 25px 20px 25px 20px !important;
        .information {
            display: block !important;
            .more_information_content {
                gap: 0 !important;
                .title {
                    line-height: 1;
                }
            }
            .img_nuestro_producto {
                height: 30vh !important;
            }
            .img_pulpa {
                height: 30vh !important;
            }
        }
        .information_pulpas {
            .more_information_content {
                .title {
                    line-height: 1;
                }
                .information_pulpas_content {
                    .item_2 {
                        img {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .content_company {
        padding: 25px 20px 25px 20px !important;
        .information {
            display: block !important;
            .image_01 {
                height: 30vh !important;
            }
            .more_information_content {
                gap: 0 !important;
            }
        }
    }

    footer {
        padding: 30px 20px !important;
        gap: 20px;
    }
    
}